= link_to 'All articles', articles_path
%p
  %strong Title:
  %br/
  = @article.title
%p
  %strong Text:
  %br/
  = @article.text
%h2 Add you comment:
- form_for ([@article, @article.comments.build]) do |f|
  %p= f.label :commenter
  %br/
  = f.text_field :commenter
  %p= f.label.body
  %br/
  = f.text_area :body
  = f.submit